NETWORK_ENDPOINTS=
LEDGER_ENDPOINT=
USE_HTTPS=
ACCESS_TOKEN=

BOT_LEDGER_ENDPOINT=
BOT_USE_HTTPS=
BOT_LISTENING_TEMPLATE_ID=
BOT_LISTENING_PARTY_ID=
BOT_ACCESS_TOKEN=

PQS_POSTGRES_HOST=
PQS_POSTGRES_PORT=
PQS_POSTGRES_USER=
PQS_POSTGRES_PASSWORD=
PQS_POSTGRES_DB=
